# Gradle build outputs
.gradle/
build/
**/build/
/captures/

# IDE & system files
.idea/
.kotlin/
*.iml
.DS_Store

# Local properties & keystores
local.properties
key.properties
**/*.keystore
**/*.jks

# Appium / test artifacts
appium_tests/node_modules/
appium_tests/*.png
appium_tests/*.xml

