# Gradle build outputs
.gradle/
build/
**/build/
/captures/

# IDE & system files
.idea/
.kotlin/
*.iml
.DS_Store

# Local properties & keystores
local.properties
key.properties
**/*.keystore
**/*.jks

# Playwright / test artifacts
playwright_tests/node_modules/
playwright_tests/test-results/
playwright_tests/playwright-report/



